---
layout: default
title: Home
---
<img style="height: 300px; float: left; margin-top: 0;" src="{{ site.baseurl }}public/images/wordcloud.png" alt="my wordcloud" />
<!-- 
     <img style="height: 200px; float: left; margin: 0 6%; display: none;" src="{{ site.baseurl }}public/images/header.png" alt="Welcome" />
-->

<p style="clear:both; padding-top: 1em;">
  I'm  </p>
<a href="/about/">About</a> - <a href="/education/">Education and Experiences</a> - <a href="/publications/">Publications</a>

<h1>Latest news</h1>

<ul class="posts">
  {% for post in paginator.posts %}
  <li class="post">
    <span class="post-date">{{ post.date | date_to_string }}:&nbsp;</span>
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
