---
layout: default
title: Home
---


<p style="clear:both; padding-top: 1em;">
I'm a Ph.D. student from Polytechnic of Turin (Italy). My research interest lies in the field of <b>Machine Learning</b>, <b>Deep Learning</b>, and <b>Computer Vision</b> applied to robotic systems. 
<br>My research area mainly focuses on the development of <b>Domain Adaptation</b>, <b>Domain Generalization</b> and <b>Anomaly/Unknown Detection</b> algorithms for <b>Object Recognition</b>. 


<h1>Latest news</h1>

<ul class="posts">
  {% for post in paginator.posts %}
  <li class="post">
    <span class="post-date">{{ post.date | date_to_string }}:&nbsp;</span>
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
